@using RPS.Game.Web.Components.Alias
@using RPS.Game.Web.Components.Player
@using RPS.Game.Web.Components.Machine

@inherits GameViewModel
<div class="container-sm">
    <Alias OnPlayerNameSet="OnPlayerNameSet" />
    @if (!(PlayerOptions is null || string.IsNullOrWhiteSpace(PlayerName)))
    {
        if (IsWinner)
        {
            <h3 class="@WinnerCssClass">@WinnerText</h3>
            <button type="button" class="btn btn-primary" @onclick="OnClickPlayAgain">Play Again</button>
        }
        else
        {
            <Player PlayerOptions=@PlayerOptions OnPlayerSelection="OnPlayerSelection" Played="Played" />
            <Machine MachineOptions=@PlayerOptions OnMachineSelection="OnMachineSelection" StartAgain="StartAgain"
        Played="Played" />
            if (Played)
            {
                <button type="button" class="btn btn-primary" @onclick="OnClickNextRound">Next Round</button>
            }
            <h3>@PlayerName: @PlayerCount </h3>
            <h3>Machine: @MachineCount </h3>
        }
    }
</div>